[Unit]
Description = making network connection up
Requires=network.target
RemainAfterExit=yes

[Service]
ExecStart = /root/diskless-boot.sh

[Install]
WantedBy = multi-user.target
