[Unit]
Description = making network connection up
After = network.target

[Service]
ExecStart = /root/diskless-boot.sh

[Install]
WantedBy = multi-user.target
