[Unit]
Description = Setting up Diskless Comp Node
Requires=network.target
After=rsyslog.service syslog.target network.target network-online.target auditd.service systemd-journald.socket basic.target system.slice
RemainAfterExit=yes

[Service]
ExecStart = /root/diskless-boot.sh

[Install]
WantedBy = multi-user.target
